body {
    font-family: "Roboto", sans-serif;
    background-color: #ececec;
}
.header {
    background-color: #ececec;
    border-bottom: 4px solid rgb(255, 0, 0);
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    max-width: 150px;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
    font-size: 20px;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link:hover {
    color: red;
}
.navbar-link {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.navbar-enter:hover {
    background-color: red;
    color: #fff;
}
.navbar-enter {
    font-size:  20px;
    line-height: 20px;
    text-decoration: none;
    color: red;
    text-align: right;
    border: 1px red solid;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.3s ease;
}
.navbar-registration {
    font-size:  20px;
    line-height: 20px;
    text-decoration: none;
    background-color: red;
    color: #fff;
    text-align: right;
    border: 1px #fff solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 2px;
    transition: 0.3s ease;
}
.navbar-registration:hover {
    background-color: transparent;
    color: red;
    border: 1px red solid;
}
main {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.container {
    max-width: 1280px;
    width: 100%;
    /* min-width: 1000px; */
    min-height: 550px;
    /* max-height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border-radius: 20px;
}
.cont1, .cont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.main-info{
    font-size: 20px;
    border: 2px #fff solid;
    border-radius: 20px;
    padding: 5px 15px;
}
.main-tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
}
.main-tittle h2{
    font-size: 60px;
}
.main-tittle p {
    font-size: 20px;
}
.main-enter{
    background-color: #fff;
    font-size: 20px;
    padding: 10px 60px;
    margin: 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.bot p {
    font-size: 20px;
    padding: 0;
    margin: 5px;
}
.main-enter:hover {
    box-shadow: 8px 10px 5px 2px rgba(0, 0, 0, 0.2);
}


.modal {
    display: flex;
    justify-content: center;
}
.modal_main {
    max-width: 1280px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modal_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
    flex-shrink: 0;
}
.modal_icon {
    background-color: #ececec;
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.information {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    margin: 20px;
    justify-content: space-around;
}
.conteiner1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px #000 solid;
    border-radius: 20px;
    padding: 10px;
}
.conteiner1 p {
    margin: 10px;
}
.conteiner1 h4 {
    margin: 10px;
}
.conteiner1 img {
    width: 100px;
}
.geography {
    width: 500px;
    height: 500px;
    border: 2px #000 solid;
    border-radius: 20px;
    text-align: center;
}

.slider {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 300px;
  }
  
  .slides {
    display: flex;
  }
  
  .slide {
    min-width: 100%;
    flex: 0 0 auto;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .btn {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #0056b3;
}



.search-form {
    width: 40%;
    margin: 50px auto;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.btn {
    display: inline-block;
    border: 2px red solid;
    color: red;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.btn:hover {
    background-color: red;
    color: #fff;
}



.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.heater-card{
    width: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 10px;
}
.review-card {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.review-image {
  margin-bottom: 5px;
}

.review-image img {
  max-width: 50px;
  height: auto;
}

.review-details p {
  margin: 5px 0;
}

.review-details p strong {
  margin-right: 5px;
}

  


footer {
    background-color: rgb(255, 0, 0);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.footer_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}